<div _ngcontent-oql-c34="" class="col col-md-6 col-12">
  <div _ngcontent-oql-c34="" class="card">
    <div _ngcontent-oql-c34="" class="card-header"> 1. Send us an email: </div>
    <div _ngcontent-oql-c34="" class="card-block"><p _ngcontent-oql-c34="" class="contactUs"> If you are facing any issue/ or for feedback, write to us at <br _ngcontent-oql-c34=""><a _ngcontent-oql-c34="" class="contactUsLink" href="grabyourride@gmail.com">
      <span _ngcontent-oql-c34="" class="contactUsLink">grabyourride@gmail.com</span></a></p>
    </div>
  </div>
  <div _ngcontent-oql-c34="" class="card">
    <div _ngcontent-oql-c34="" class="card-header"> 2. Pick up the phone and call us!: </div>
    <div _ngcontent-oql-c34="" class="card-block"><p _ngcontent-oql-c34="" class="contactUs"><a _ngcontent-oql-c34="" class="contactUsLink" href="tel:90 4545 0000"><span _ngcontent-oql-c34="" class="contactUsLink">+91 7898282200</span></a><br _ngcontent-oql-c34="">(standard STD/local charges apply) </p>
    </div>
  </div>
  <div _ngcontent-oql-c34="" class="card">
    <div _ngcontent-oql-c34="" class="card-header"> 3. Send mail to this address </div>
    <div _ngcontent-oql-c34="" class="card-block"><p _ngcontent-oql-c34="" class="contactUs"><span _ngcontent-oql-c34="" class="contactUsLink">GrabYourRide</span><br _ngcontent-oql-c34=""><span _ngcontent-oql-c34="" class="contactUs">2nd, 3rd block &amp; Gaur City </span><br _ngcontent-oql-c34="">Greater Noida</p>
    </div>
  </div>
</div>
