
<div>
<h1>About Us</h1>
</div>
<div class="text-center">
<p>
  Founded in 2022, GrabYourRide has pioneered car sharing across emerging markets. 
  With its asset-light marketplace-focused business model, 
  the GrabYourRide platform connects host vehicle owners with guests who choose from a 
  selection of otherwise idle cars to use for personal, business and travel needs. 
  With operations across India GrabYourRide is transforming the 
  urban mobility landscape with the introduction of affordable, 
  sustainable and convenient transportation solutions. GrabYourRide 
  currently operates across more than 50 cities in India and plans to
   continue building smart, convenient and sustainable transport solutions
    for emerging market consumers.
</p>
</div>


